.cartTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* font-family: 'Roboto'; */
    
    font-size: 20px;
    font-weight: 700;
    color: #212121;

   
}

.cartTable{
    margin-left: 107px;
    width: 800px;
    
    box-sizing: border-box;
    border: 2px solid #E2E2E2;
    margin-top: 38px;
}

.priceTable {
    width: 475px;
    box-sizing: border-box;
    border: 2px solid #E2E2E2;
    margin-left: 40px;
    margin-top: 38px;
    height:300px;
    
}

.cartpage{
    height: 100%;
    min-height : '100vh';
    background: rgba(255, 255, 255, 0.95);

}

.btn-flat{
    border: none;
}

.Cartbody {
    margin-top: 95px;
    font-family:'Roboto';
}

