.orders{
    margin-top: 125px;
    padding: 2%;
}

.buttonn{
    color: #ED1C24;
    background-color: #ffffff;
    border: solid 2px #ED1C24;
}
.buttonn:hover {
    background-color: #ED1C24 !important;
    border-color: #ED1C24 !important;
}

.invoiceContainer{
    padding: 4%;
}

.invoiceContainer .table td, th{
    font-size: 12px;
}

.ordersbox{
    padding: 2%;
}



.myOrders{
    margin-top: 150px;
}

.mobileView{
    display:none;
    }
@media screen and (max-width: 768px) {
   
       

    .orderInvoice {
        text-align: center;
        margin-top: 30px;
    }
}

/* mobiles */
@media screen and (min-width: 320px) and (max-width:480px)
{
    .orderTableDesktop{
        display:none;
    }
    .mobileView{
        display:contents;
    }
    .ordersbox .col-md-4{
        width: 100%;
    }

    .orders{
        margin-top: 80px;
    }
    .myOrders{
        margin-top: 80px;
    }
}

