/* .CategoryProduct {
    
    animation: mymove 20s infinite;
  } */
  /* .CategoryProduct {
    height: 60%;
    width: 80%;
    margin-top: 40%;
    position: relative;
    animation: mymove 5s forwards;
  }
  @keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 50px;}
  }
  @keyframes btmmove {
    from {top: 50px;}
    to {top: 0px;}
  }
  .viewMorebtn{
    background-image: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    border-color: black;
    color: whitesmoke;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 20px;
    height: 50px;
    width: 150px;
    position: relative;
    animation: btmmove 5s forwards;
  } */



  .categoryproductscontainer {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgb(0 0 0 / 7%);
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}
  .categoryproductscard{
    transition: transform 0.2s ease;
    box-shadow: rgb(0 0 0 / 16%) 0px 6px 12px;
    border-radius: 5px;
    /* border: solid 0.5px #0b4268; */
    margin-left: 15px;
    margin-right: 15px;
    width: 15rem;
    text-align: left;
    padding: 0px;
    cursor: pointer;
  }

  .categoryproductscardbody{
    
  }

  .text{
    font-size: 18px;
    font-weight: 600;
    color: #ED1C24;
    transition: all 0.3s ease 0s;
  }

  .categoryproductscard:hover{
    /* box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); */
    box-shadow: rgb(0 0 0 / 16%) 0px 6px 12px;
    transform: scale(1.02);
  }
  .categoryproductscardbodyonhover{
    display: none;
  }
 
  .categoryproductscard:hover .categoryproductscardbodyonhover{
    /* background-color: rgb(255, 204, 186); */
    cursor: pointer;
    display: block; 
    
  }

  .categoryproductscard:hover .cardimage{
    /* box-shadow: 0 2px 2px 0 #d5d8da; */
    display: none;
    /* box-shadow: inset 0 0 10px 20px rgba(0,0,0,0.6); */
    
  }

  .categoryproductscard:hover .categoryproductscardbody{
    
    display: none; 
    
  }
  .categoryproductscard:hover .cardimage2{
    /* box-shadow: 0 2px 2px 0 #d5d8da; */
    
    display: block; 
    
  }
 
  .cardtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #2D2D2D;
    
  }

  .cardimg{
    box-shadow: 0 2px 2px 0 #d5d8da;
height:250px;
display: flex;
align-items: center;
justify-content: center;
  }
  .cardimage{
    
    /* box-shadow: inset 0 0 10px 20px rgba(0,0,0,0.6); */
  }
  .card-img-top {
    /* width: 150px; */
    /* height: 250px; */
    object-fit: cover;
}

  .cardimage2{
    display:none;
  }

  .cardimage2 carousel slide carousel-dark{
    margin-top: 0;
  }

  /*  view more button */

  .explore {
    
    /* margin-left: 75%; */
    /* font-family: "Space Mono", monospace; */
    letter-spacing: 3px;
    background: #0b4268;
    color: white;
    position: relative;
    outline: none;
    border: none;
    height: 45px;
    width: 200px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 0;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
    margin-top: 0%
    
  }
  .explore:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #202020;
    z-index: -1;
    transition: 0.3s ease-in all;
  }
  .explore:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: #0b4268;
    z-index: -1;
    transition: 0.4s 0.02s ease-in all;
  }
  .explore:hover {
    cursor: pointer;
    color: transparent;
  }
  .explore:hover:before {
    left: 100%;
    width: 25%;
  }
  .explore:hover:after {
    left: 100%;
    width: 70%;
  }
  .explore:hover .icon-right.after:after {
    left: -101px;
    color: white;
    transition: 0.2s 0.2s ease all;
    top: 22px;
  }
  
  
  .icon-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .icon-right:after {
    font-family: "FontAwesome";
    content: "→";
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 22px;
    left: -101px;

    transform: translate3D(0, -50%, 0);
  }
  .icon-right.after:after {
    left: 50%;
    color: black;
    transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
  }
  .icon-right.after:before {
    content: "Explore";
    position: absolute;
    left: 100%;
    top: 14px;
    opacity: 0;
    transition: 0.2s ease-in all;
  }
 /* view more button  end */

 

 /* title  */
 .categorytitle {
  font-family: 'Roboto';
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
  color: #202020;
  font-weight: bold;
  /* position: relative; */
  /* font-family: "Roboto"; */
  margin-left: 20px;
  font-size: 26px;
  /* text-transform: uppercase; */
  /* font-style: italic; */
  letter-spacing: 0.05em;
  display: inline-block;
  
}



/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

.categorytitle:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

.svgtitle {
  display: none;
}

.categoryproductsrow{
  padding-top: 10px;
    margin-bottom: 15px;
}
 /* title end */
/* laplops and small screens */
  @media screen and (min-width: 769px) and (max-width:1024px)
  {

  }

  /* desktop and large screens */
  @media screen and (min-width: 1025px) and (max-width:1200px)
  {

  }

  /* mobiles */
  @media screen and (min-width: 320px) and (max-width:480px)
  {
    .cardimg{
      height: 160px;
    }
    .categoryproductscard {
      transition: transform 0.2s ease;
      border-radius: 0;
      /* border: solid 0.5px rgb(197 252 245); */
      margin-left: 1px;
      margin-right: 1px;
      width: 10rem;
      text-align: left;
      padding: 0px;
      cursor: pointer;
  }
  .categoryproductscardbody {
    padding: 8px;
  }
  .cardtitle {
    margin-bottom: 0;
}

    .explore{
      height: 35px;
    width: 100px;
    /* margin-right: 20px; */
    letter-spacing: 1px;
    }

    .categorytitle{
      margin-left: 20px;
      font-size: 20px;
  letter-spacing: 0;

    }

    .search{
      width: 100%;
    }
    .categoryproductscontainer{
      padding: 0;
      border-radius: 0;
    }

    .categoryproductsrow{
      padding-top: 10px;
        margin-bottom: 0px;
    }

    .categoryproductsrow .col-md-8{
      padding-left: 20px;
      width: 60%;
    }
    .categoryproductsrow .col-md-4{
      padding-right: 20px;
      width: 40%;
    }

    .icon-right{
      display: none;
    }
  }
  /* ipads and tablets */
  @media screen and (min-width: 481px) and (max-width:768px)
  {

    .categoryproductscard{
      margin-left: 8px;
    margin-right: 8px;
    width: 10rem;
    }
    .cardimg {
      height: 160px;
     }
     .categoryproductsrow {
      padding-top: 0px;
      margin-bottom: 0px;
  }
    .explore:hover .icon-right.after:after {
        left: -60px;
        top: 18px;
    }
    .explore {
        
        height: 35px;
        width: 150px;
    }
    .categorytitle{
      font-size: 22px;
    }
  }

  /* extra large screens */
  @media screen and (min-width: 1201px) 
  {

  }