.ratingstar {
    background-color: green;
    width: 40px;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
}

.comparedescription {
    background:white;
    position: fixed;
    z-index: 9999;
}