.textsimilar{
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
    z-index: -1;
    /* font-family: "Gotham",serif */
}

.container{
    background-color:white;

}

.columnone {
    float: left;
    width: 5%;
    padding: 5px;
  }

.columntwo {
    float: right;
    width: 100%;
    padding: 5px;
}  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .imageproduct {
    z-index: 9999;
    
    
  }

  /* .quantitypicker {
    z-index: 9999;
  } */




/* .div{
    background-color: antiquewhite;
} */

.star {
  background-color: green;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.productdetailimg {
  
}


.productdetailimg:hover {
  border: solid 5px rgba(0, 110, 255, 0.767);
  /* transition: outline 0.6s linear;
  margin: 0.5em; */
  outline-width: 8px;
}  

hr.vertical {
  border: 0;
  margin: 0;
  border-left: 5px solid blue;
  height: 200px;
  float: left;
}

.color_img{
  position: relative;
  /* width: 200px; */
  height: 80px;
  float: left;
  margin-right: 10px;
 }
 
 /* Child Text Container */
 .color_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-bottom: 5px; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .color_img:hover{
  cursor: pointer;
 }
 
 .color_img:hover div{
  width: fit-content;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
 }
