.addtocart:hover{
  background-color: #ED1C24 !important;
  border-color: #ED1C24 !important;
}

.productdetailrow {
  background-color: white;

  margin: auto;
  /* margin: 7% auto 1% auto; */

  margin-top: 128px;
  /* margin: auto; */
  /* margin: auto auto 1% auto; */

  /* display: flex; */
  width: 100%;
}

.row1{
/* padding:2%; */
margin: 2%;
}

.textsimilar{
    font-size: large;
    font-weight: bold;
    
    
    z-index: -1;
    /* font-family: "Gotham",serif */
}

.container{
    /* background-color:white; */
/*  */
}

.columnone {
    float: left;
    width: 5%;
    padding: 5px;
  }

.columntwo {
    float: right;
    width: 100%;
    padding: 5px;
}  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .imageproduct {
    z-index:  1;
    padding: 5%;
    /* margin-top: 100px;
     justify-content: 'center';
      margin-left:35 */
    
  }

  .largeimg{
    display:contents;
    width: 400px;
    height: 400px;
    padding: 2%;
    margin: auto;
    /* width: 400px; */
    /* height: 513px; */
    border: solid 1px #0b4268;
  }

  .imgg{
    border: solid 2px #e2e2e2;
  }
  /* .quantitypicker {
    z-index: 9999;
  } */




/* .div{
    background-color: antiquewhite;
} */

.star {
  background-color: green;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.similarproductname {
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #2D2D2D;
}



.productdetailimg {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}


.productdetailimg:hover {
  border: solid 2px #e2e2e2;
  /* transition: outline 0.6s linear; */
  /* margin: 0.5em; */
  /* outline-width: 8px; */
}  

hr.vertical {
  border: 0;
  margin: 0;
  border-left: 5px solid blue;
  height: 200px;
  float: left;
}

.color_img{
  position: relative;
  /* width: 200px; */
  height: 80px;
  float: left;
  margin-right: 10px;
 }

 .pincoderow{
  display: flex;
  width: 570px;
  height: 43px;
  /* left: 693px; */
  /* top: 526px; */
  background: rgb(238 238 238);
  border-radius: 5px;
  align-items: center;
  margin-bottom: 20px;
 }
 .pininput{
  width: 257px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 0;
 }

 .specifications{
  box-sizing: border-box;
  margin-bottom: 20px;
width: 97%;
padding: 1%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
 }

 .ratings td{
  padding: 3%;
 }

 .rowtitlespec{
  width: 160px;
height: 23px;
left: 20px;
top: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.02em;

color: #212121;
 }
 
 /* Child Text Container */
 .color_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-bottom: 5px; */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .color_img:hover{
  cursor: pointer;
 }
 
 .color_img:hover div{
  width: fit-content;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
 }

 .textStyle{
  display: '-webkit-box';
  WebkitBoxOrient: 'vertical';
  WebkitLineClamp: 3;
  overflow: 'hidden';
  textOverflow: 'ellipsis';
}

/* buttons */

.buynow{
  
  height: 60px;
    color: #fff;
    background-color: #0b4268;
    border-color: #0b4268;
    width: 90%;
    font-size: 20px;
}

.addtocart{
  

    height: 60px;
  color: #ED1C24;
  background-color: #ffffff;
  border:solid 2px #ED1C24;
  width: 90%;
  font-size: 20px;
}




.addtocartcol{
  display: flex;
  justify-content: center;
}

.buynowcol{
  display: flex;
  justify-content: center;
}
/* @media screen and (max-width: 480px) {
  .productdetailimg {
    width: 60px;
    height: 70px;
    margin-left: 2px;
  }

  .largeimg{
    width: 90%;
    height: 100%;
    justify-content: center;
  }
 
  .imageproduct{
    margin-top: 0;
    justify-content: center;
    margin-left:  5%;

  }
  .smallImg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 40px;
    border: solid 1px rgb(0, 0, 0);
}


 

} */
/* .swiper-button-prev {
  left: 9.5%;
  top:2%;
  
  transform: rotate(90deg);
  transform-origin: left-center;
} */

/* .swiper-button-next {
  left:9.5%;
  top:69%;
  transform: rotate(90deg);
  transform-origin: left-center;
} */

.innercol1{
  background: #FFFFFF;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 25%), inset 2px 2px 2px rgb(0 0 0 / 25%);
    height: fit-content;
    padding: 4%;
    /* width: 569px; */
/* height: 477px; */
margin: 2%;
}

.producthigh{
  margin-bottom: 20px;

}

.offerbtn{
  /* width: 50px;
  height: 13px;
  left: 736px;
  top: 721px; */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
cursor: pointer;
  color: #FA0000;
}
.offerbtn:hover{
  /* background-color: #11639d; */
}

::-webkit-scrollbar{

  width:0;
  background: transparent;

}



.offerbtn:focus{
  /* background-color: #0b4268; */
  /* box-shadow: none; */
}
.variants{
  margin-top: 10px;
  margin-bottom: 10px;
}

.variants .form-check{
  border-radius: 5px;
  font-size: 18px;
  border: solid 2px #0b4268;
  padding-left: 20px;
  padding: 1% 1% 1% 20px;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  min-height: 1.5rem;
  /* padding-left: 2.1em; */
  margin-bottom: .125rem;
  margin-right: 20px;
  /* margin-left: 20px;*/
}

.variants .form-check-input[type=radio] {
  border-radius: 0%;
  border-color: #0b4268;
  border-width: 2px;
}

.inerrow1{
  /* padding: 2%; */
  /* margin-bottom: 20px; */
}

.productprice{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height */
margin-bottom: 0;

color: #FA0000;

}

.variants label{
  font-size: 18px;
}

.infotable .tbody, td, tfoot, th, thead, tr {
  /* padding: 1%;
  border-color: #0b4268;
  border-style: solid;
  border-width: 0;
  font-family: Verdana;
  font-size: 18px;
  cursor: pointer; */
}

.infotable{
  border: 0;
  /* margin-bottom: 20px; */
}

.infotable tr:hover{
 
  /* background-color: #92bedd52; */
  
}

.swiper-button-next, .swiper-button-prev{
  color: #fa0000;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  /* color: red; */
  cursor: pointer;
  background-color: #fa0000;
}
.infotitle{
margin-top: 10px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #212121;
}

.checkpinbtn{
  width: 119px;
  height: 43px;
  margin-left: 2%;
  font-size: 12px;
  background: #FA0000;
  border-radius: 0px 5px 5px 0px;
  border-color: #FA0000;
}
.checkpinbtn:hover{
  background: #fa7171 !important;
  border-color: #fa7171 !important;
}


.rowtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 15px;
  letter-spacing: 0.01em;
  font-variant-caps: all-petite-caps;
  color: #212121;
}

.imageslider{
  display: none;
}

.offercard{
  display: grid;
  width: 139px;
  height: 80px;
  padding: 5%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  border: solid 1px #00000036;
}

.offercard p{
  /* width: 51px;
  height: 13px;
  left: 736px;
  top: 658px; */
margin-bottom: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
  /* identical to box height */


  color: #212121;
}

.offerrow .swiper{
  height: 150px;
  z-index: 0;
}

.offercard h4{
  /* width: 112px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #212121;
}

.offerrow{
  /* display:flex; */
  /* padding:2%; */
}

.text-success{
  color: #fa0000;
}
.infovalues{
  display: flex;
}

.productname{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  /* position: absolute; */
  width: 773px;
  height: 88px;
  letter-spacing: 0.01em;

  color: #0F1111;
}

.producthigh h5{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  /* or 131% */

  letter-spacing: 0.01em;

  color: #212121;
}

.star-container svg{

width: 35px;
height: 35px;
}

@media screen and (min-width:320px) and (max-width:480px)
{
  
  .laptopimg{
    display: none;
  }
  .imageslider{
    display: contents;

  }

  .checkpinbtn {
    width: 102px;
  }

  .rowtitlespec {
    font-size: 18px;
  }

  .productname{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 133% */
    /* position: absolute; */
    letter-spacing: 0em;
  
    
  }

  .innercol {
    padding-top: 0;

  }

  .addtocart {
    height: 50px;
  }

  .productdetailimg{
    width: 100%;
    height: 100%;
  }
  .productprice{
    font-size: 17px;
  }
  .addtocart{
    font-size: 14px;
    width: 100%;

  }
  
  .fa-3x {
    font-size: 30px;
  }
  .list-inline{
    /* padding: 0; */
    margin-top: -35px;
  }
 
  .inerrow1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .innercol hr{
    display: none;
  }

  

  .innercol {
    -ms-overflow-style: none;

  }
  ::-webkit-scrollbar {
    display: none;
  }
  .offerrow{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }
  .offerbtn {
    margin: 4px;
    height: 50px;
    /* width: 110px; */
    font-size: small; 
  }
  .producthigh{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rowtitle{
    margin-bottom: 5%;
    font-size: 18px;
  }
  .variants{
    margin: 0;
  }
  .infotitle{
    font-size: 18px;
    font-variant-caps: all-petite-caps;
    margin-top: 30px;

  }
  .offercard {
    display: grid;
    width: 226px;
    height: 91px;
    padding: 5%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: solid 1px #00000036;
    }

    .producthigh {
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .pincoderow {
    margin-top: 20px;
    width: 350px;   
  }
  .pininput {
    width: 97px;
    margin-left: -33%;
    font-size: 11px;
}
.checkpinbtn {
  margin-left: -35px;
}
.specifications {
width: 100%;
}
}