.text{
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    /* font-family: "Gotham",serif */
}

.container{
    background-color:white;

}

.columnone {
    float: left;
    width: 5%;
    padding: 5px;
  }

.columntwo {
    float: right;
    width: 100%;
    padding: 5px;
}  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .imageproduct {
    z-index: 9999;
  }



/* .div{
    background-color: antiquewhite;
} */

.star {
  background-color: green;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}
