.shopbybrandsrow{
    padding: 2%;
    margin: 2%;
    background-color: rgb(29, 29, 29);
  
}
.shopbybrandsimg{
    border-radius: 100%;
    height: 100%;
    width: 80%;
    opacity: 0.8;
    transition: 0.3s;
    
}
.shopbybrandsimg:hover{
    border-color: aqua;
    border-width: 15px;
    transform: scale(1.1);
    opacity: 1

    
}


.brandheading{
    margin-top: 115px;
    
    
}

.brandimg{
  height: 60px;
  width: 60px;
}

.brandcategory{
  
    height:80px;
    width: 180px;
    opacity: 0.8;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 88, 88);
    color: black;
    font-weight: 500;
    
}
.brandcategory:hover{

    background-color: rgb(255, 88, 88);
    border-color: rgb(255, 88, 88);

}
.shopbybrandsrow{
    margin-bottom: 40px;
} 

 brand logos:root {
    --src: url(https://imes.unsplash.com/photo-1554620121-59e7f3f6e3a4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy);
    --size: 60vmin;
    /* --space: 8vmin; */
    --duration: 300ms;
    --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
    --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  }

 
  
  .promo {
    position: relative;
    cursor: pointer;
    margin-left: 80px;
    width: 200px;
    height: 200px;

  }
  
  .brandtitle {
    --font-size: 30px;
  color: #212529;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: var(--font-size);
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    transform: translate(-10%, -50%);
    transition: transform var(--duration) var(--ease-out);
    pointer-events: none;
  }
  
  .brandtitle::after {
    content: attr(data-cta);
    display: inline-block;
    margin-left: 1.5vmin;
    font-size: calc(var(--font-size) / 3.25);
    font-weight: 400;
    letter-spacing: 0.125vmin;
    opacity: 0;
    transform: translateX(-25%);
    transition: transform var(--duration) var(--ease-out),
      opacity var(--duration) var(--ease-out);
  }
  
  .image-wrapper {
    
    width:90px;
    height: 200px;
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    transition: transform var(--duration) var(--ease-out),
      clip-path var(--duration) var(--ease-out);

  }
  
  .image-wrapper img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-10%);
    transition: transform var(--duration) var(--ease-out);
    filter: brightness(110%);
   
  }
  
  .image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    mix-blend-mode: multiply;
    opacity: 0;
    transform: translateZ(0);
    transition: opacity var(--duration) var(--ease-out);
  }
  
  .promo:hover img {
    transform: translateX(0);
    
  }
  
  .promo:hover .image-wrapper {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transform: translateX(25%);
    transition-timing-function: var(--bounce-out);
    
  }
  
  .promo:hover .brandtitle {
    transform: translate(5%, -50%);
    transition-timing-function: var(--bounce-out);
  }
  
  .promo:hover .brandtitle::after {
    opacity: 1;
    transform: translateX(0);
    transition-timing-function: var(--bounce-out);
  }
  
  .promo:hover .image-wrapper::after {
    opacity: 1;
  }
  
/* brand logos end */

.brand_title{
    margin-bottom: 20px;
    /* text-decoration-line: underline; */
    color: #202020;
    text-transform: uppercase;
    font-size: 26px; 
    font-family: 'Roboto'; 
    font-weight: bold;
}

.brand_category_swiper .swiper-slide{
  /* margin-top: 0; */
  width: 70px;
}

.brand_category_swiper .swiper-button-next {
  background: transparent;
  margin-left: 1%;
  color: #000;
  margin-right: 1%;
}

.brand_category_swiper .swiper-button-prev {
  background: transparent;
  margin-left: 1%;
  color: #000;
  margin-right: 1%;
}

.brand_category_swiper .swiper-pagination-clickable .swiper-pagination-bullet{
  background-color: gray;
}
.brand_category_swiper {
  /* background-color: #202020; */
  padding-right: 2%;
  padding-left: 2%;

}
.brand_feature{
  padding: 1%;
}

.brand_feature_category{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
letter-spacing: 0.01em;
margin-left: 2%;
margin-top: 2%;
color: #000000;
}

.brand_category_swiper{
  height: 157px;
}

.brand_category_title{
  margin-top: 1%;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
letter-spacing: 0.01em;

color: #000000;
}

.brand_feature_product_cat_title{
  margin-left: 18%;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.01em;
color: #000000;
}

.brand_feature_product_btn{
  background: transparent;
  border: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.01em;
margin-top: 0%;

color: #000000;
}

.brand_category_products_swiper{
  /* width: 90%; */
  background-color: gray;
}

.brand_category_product_card{
/* width: 233px;
height: 334px; */


box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.brand_category_product_cardimage{
  
  box-shadow: 0 2px 2px 0 #d5d8da;
  margin-top: 5px;
  

}

.brand_category_products_card{
  margin-top: 3%;
  
}

.videoswiper .swiper-button-next{

  background: transparent;
  margin-left: 1%;
  color: #000;
  margin-right: 1%;

}

.videoswiper .swiper-button-prev{
  background: transparent;
  margin-left: 1%;
  color: #000;
  margin-right: 1%;
}

.brandlogo {
  width: fit-content;
  height: 126px;
}

.brandvideo{
  
}

.videoframe{
  width:70%;
  height:500px;
}

.brandsliderimage{
  width: 100%;
}
/* title end */
/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
  .brand_title {
    margin-bottom: 0px;
    
    font-size: 20px;
}

.brandlogo {
  
  height: 90px;
}
}

/* desktop and large screens */
@media screen and (min-width: 1025px) and (max-width:1200px)
{

}
/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
  .brandsliderimage{
    height: 300px;
    width: 100%;
  }
  .brand_feature{
    padding: 2%;
  }
  .brand_feature .col-md-10{
    display: flex;
    justify-content: start;
    width: 50%
  }

  .brand_feature .col-md-2{
    display: flex;
    justify-content: end;
    width: 50%;
  }
}

/* mobiles */
@media screen and (min-width: 320px) and (max-width:480px)
{
  .brand_feature{
    padding: 2%;
  }
  .brand_feature .col-md-10{
    display: flex;
    justify-content: start;
    width: 50%
  }

  .brand_feature .col-md-2{
    display: flex;
    justify-content: end;
    width: 50%;
  }

  .brand_feature_product_btn {
    line-height: normal;
    font-size: 16px;
  }

  .brand_feature_product_cat_title{
    line-height: normal;
    font-size: 16px;
  }

  .brandsliderimage{
    height: 250px;
    width: 100%;
  }
  .brandlogo {
    height: 100px;
    width: 100px;
  }

  .brand_category_product_cardimage {
    width: 45px;
    height: 70px;
    
  }

  
  .videoframe{
    width:70%;
    height:250px;
  }

/* 
  .explore{
    height: 40px;
    width: 118px;
  } */

  .categorytitle{
    margin-left: 0;
  }

  .search{
    width: 100%;
  }
}
/* ipads and tablets */
@media screen and (min-width: 481px) and (max-width:768px)
{
  .brand_title {
    margin-bottom: 0px;
    
    font-size: 20px;
}

.brandlogo {
  width: fit-content;
  height: 90px;
}

.brandsliderimage{
  height: 300px;
  width: 100%;
}
.brand_feature{
  padding: 2%;
}
.brand_feature .col-md-10{
  display: flex;
  justify-content: start;
  width: 50%
}

.brand_feature .col-md-2{
  display: flex;
  justify-content: end;
  width: 50%;
}

.brand_feature_product_btn {
  line-height: normal;
  font-size: 16px;
}

.brand_feature_product_cat_title{
  line-height: normal;
  font-size: 16px;
}
}

/* extra large screens */
@media screen and (min-width: 1201px) 
{

}