*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}


/* body{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: 'roboto',sans-serif;
} */

.form-parent{
    width: 850px;
    height: 500px;
    background: #171717;
    border-radius: 20px;
    text-align: center;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);

}