*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}


/* body{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: 'roboto',sans-serif;
} */

.form-parent{
    width: 850px;
    height: 500px;
    background-color: #171717;
    border-radius: 20px;
    text-align: center;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);

}

.sign-up-img,
.sign-in-img{
    position: absolute;
    width:50% ;
    height: 100%; 
    background: url("https://media.istockphoto.com/photos/city-light-bokeh-picture-id1166043917?b=1&k=20&m=1166043917&s=170667a&w=0&h=X0oKYOLCTk6MWyAjQxQP0zf0oX_O9zVDwRVfaVoRYkY=");
    background-size: cover;
}

.sign-in-img{
    left:50%;
    background: url("https://media.istockphoto.com/photos/city-light-bokeh-picture-id1166043917?b=1&k=20&m=1166043917&s=170667a&w=0&h=X0oKYOLCTk6MWyAjQxQP0zf0oX_O9zVDwRVfaVoRYkY=");
    background-size: cover;
    
}

.form-body{
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 100%;
    background-color: #000000;
    transition: 1s;
    left: 0%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, calc(850px/2));

}


.form{
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    /* background-color: #171717; */
}

.fields{
    position: relative;
    width:100%;
    margin-left: 100px;
    /* align-items: center; */
}
.submit-container{
    position: relative;
    width:100%;
}
.title{
    color: #fff;
}
.input{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding:5px 10px;
    text-transform: capitalize;
    border:none;
    border-radius: 5px;
    height: 30px;
    background: #3f3f3f;
    color: #fff;
    
}

.login-button{
    color: #fff;
    background: #3f3f3f;
    border:none;
    padding: 10px 40px;
    font-size:15px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    color: white;
    cursor:pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.login-button:hover,input:focus{
    background: #000;
    color: #fff;
}

.link{
    text-align: center;
    color:#3f3f3f;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

.link:hover{
    color: #fff;
}

#sign-up-form{
    margin-left: 50%;
}

#sign-up-form .title{
    margin-bottom: 30px;
}
.register-form{
    background-color: #171717;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}