*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}


/* body{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: 'roboto',sans-serif;
} */

.form-parent{
    width: 850px;
    height: 500px;
    background-color: #171717;
    border-radius: 4px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    justify-content: center;
    
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);

}

.sign-up-img,
.sign-in-img{
    position: absolute;
    width:50% ;
    height: 100%; 
    background: url("../../assets/loginsignup.png");
    background-size: 100% 100%;
}

.sign-in-img{
    left:50%;
    background: url("../../assets/loginsignup.png");
    background-size: 100% 100%;
    
}

.form-body{
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 100%;
    background-color: white;
    
    transition: 1s;
    left: 0%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, calc(850px/2));

}


.form{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;

    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    transition: 1s;
    /* background-color: white; */
}

.fields{
    position: relative;
    width:100%;
    /* justify-content: left; */
    /* margin-left: 100px; */
    /* align-items: center; */
}
.submit-container{
    position: relative;
    width:100%;
   
}
.title{
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
    /* margin-left: 20px; */
    font-size: 30px;
    font-family: 'typeface-roboto';
    font-weight: 600;

}
.input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    /* padding:5px 10px; */
    border:none;
    /* border-radius: 1px; */
    height: 50px;
    background: #3f3f3f;
    color: #fff;
    
    /* margin-bottom: 20px; */
    
}

.login-button{
    color: #fff;
    /* background: #DA0606; */
    border:none;
    width: 322px;
    height: 45px;
    /* padding: 10px 40px; */
    font-size:15px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    color: white;
    cursor:pointer;
    border-radius: 2px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.verify-button{
    color: #fff;
    /* background: #DA0606; */
    border:none;
    width: 322px;
    height: 45px;
    /* padding: 10px 40px; */
    font-size:15px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    color: white;
    cursor:pointer;
    border-radius: 2px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.login-button:hover,input:focus{
    /* background: #000; */
    color: #fff;
    border: solid 1px white;
    
}

.New-account-button{
   
    background: #DA0606;
    width: 330px;
    height: 40px;
    /* padding: 10px 40px; */
    font-size:15px;
    color: white;
    cursor:pointer;
    transition: 0.5s;
    border: none;
    align-content: center;
    justify-content: center;
}

.New-account-button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#sign-up-form{
    margin-left: 50%;
}

#sign-up-form .title{
    margin-bottom: 10px;
}
.register-form{
    background-color: #171717;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.otpInput{
    height: 4em;
    width: 4em;
    text-align: center;
}

.mobile_login{
display: none;
}

@media screen and (min-width:320px) and (max-width:480px)
{
    .form-parent{
        display: none;
    }
    .mobile_login{
        display: block;
        }
    .form{
        margin-top: 125px;
        width: 100%;
    }
    #sign-up-form {
        margin-left: 0%;
    }

    .login-button {
        width:100%;
    }

    .New-account-button{
        width: 100%;
    }
}
/* ipads and tablets */
@media screen and (min-width: 481px) and (max-width:768px)
{
    .form-parent{
        display: none;
    }
    .mobile_login{
        display: block;
        }
    .form{
        margin-top: 125px;
        width: 100%;
    }
    #sign-up-form {
        margin-left: 0%;
    }

    .login-button {
        width:100%;
    }

    .New-account-button{
        width: 100%;
    }
}

/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
    
}