body{
    font-family: 'Roboto';
}

.Header{
    background-color: white;
    width: 100%;
    position: fixed;
    font-family: 'Roboto';
    z-index: 2;
}

.Header .dropdown-menu.show {
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-color: #04001d;
    width: -webkit-fill-available;
    padding: 10px;
    pad: 200px;
    border-top: 5px solid #04001d;
   
}
.Header .navbar-light .navbar-nav .nav-link{
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
}
.Header .dropdown-toggle {
    font-size: 22px;
    font-weight: 1000;
}

#offcanvasNavbarDropdown-expand-md {
   
    color: #04001d;
}

.Header .navbar-nav{
    font-size: 20px;
    font-weight: bold;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .offcanvas-body {
        /* background-image: linear-gradient(225deg, #101214, transparent); */
        
    }
    
    .offcanvas{
        width: 80%;
    }
    
    .Header .navbar-toggler-icon {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-top: 10px;
    }
    
    .Header .navbar-light .navbar-toggler {
        width: 60px;
        color: rgb(255 255 255);
        border-color: rgb(255 255 255);
    }
    
    
}

/* mahavir title */

.mahavir {
    margin-bottom: 0.5em;
    font-size: 2rem;
    color: #E4E5E6;
  }
  
  .mahavir {
    position: relative;
    background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .mahavir:before,
  .mahavir:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .mahavir:before {
    z-index: -1;
    text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
  }
  
  .mahavir:after {
    z-index: -2;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
  }
/* mahavir title  end */