/* body{
    font-family: 'Roboto';
} */

.Header .navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    font-family: 'Roboto';
    z-index: 2;
    position:fixed;
    top: 35px;

    
}

.dropdown-toggle::after {
    display:none;
}

.Header .dropdown-menu.show {
    display: block;
    border-radius: 10px;
    /* margin-top: 10px; */
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-color: #04001d;
    width: -webkit-fill-available;
    padding: 10px;
    pad: 200px;
    border-top: 5px solid #04001d;
   
}
.Header .navbar-light .navbar-nav .nav-link{
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
}
.Header .dropdown-toggle {
    font-size: 22px;
    font-weight: 1000;
}

#offcanvasNavbarDropdown-expand-md {
   
    color: #04001d;
}

.Header .navbar-nav{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.instagram{
    color: white;
    height: 20px;
    width: 20px;
    margin-top: 7px;
    margin-left: 100px;
}

.facebook{
    color: white;
    height: 20px;
    width: 20px;
    margin-top: 7px;
    margin-right: 80px;
}


/* mahavir title */

.mahavirtitle{
    font-family: PublicaSans-Bold;
    font-size: 42px;
    color: rgb(237, 28, 36);
}
.mahavir {
    margin-bottom: 0.5em;
    font-size: 2rem;
    color: #E4E5E6;
  }
  
  .mahavir {
    position: relative;
    background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .mahavir:before,
  .mahavir:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .mahavir:before {
    z-index: -1;
    text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
  }
  
  .mahavir:after {
    z-index: -2;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
  }
/* mahavir title  end */

.top-header {
    width: 100%;
    height: 35px;
    background: black;
    position: fixed;
    top:0;
    z-index: 4;
}

@media screen and (min-width:320px) and (max-width:480px) {

    .wishlist_{
        margin-left: -20px;
    }
    .offcanvas-body {
        /* background-image: linear-gradient(225deg, #101214, transparent); */
        
    }
    
    .offcanvas{
        width: 80%;
    }
    
    .Header .navbar-toggler-icon {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-top: 0%;
    }
    
    .Header .navbar-light .navbar-toggler {
        width: 60px;
        color: rgb(255 255 255);
        border-color: rgb(255 255 255);
        margin-top: 0%;
    }

    .Header .navbar {
        top: 35px;
    }

    .top-header .col-md-3{
        /* width: 49%; */
        display: none;
  }

  .top-header .col-md-1{
      width: fit-content;
}
  .top-header .col-md-4{
      display: none;
  }

  .top-header .col-md-2{
      width: fit-content;
      margin-left: 90px;
}
.instagram{
  margin-left: 0px;
}

.facebook{
  margin-right: 0px;
}

    
    
}


/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
    .top-header .col-md-3 {
        width: 36%;
    }

    .top-header .col-md-4 {
        display: none;
    }

    .top-header .col-md-1 {
        width: fit-content;
    }
     .facebook {
        margin-right: 0;
    }

    .instagram{
        margin-left: 60px;
    }

    .mahavirtitle{
        font-size: 30px;
        font-family: PublicaSans-Bold;
    }

    .logo_mahavir {
        height: 40px;
        width: 40px;
    }

    .header svg{
        height: 20px;
        width: 20px;
      }

      .Header .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }


}

/* desktop and large screens */
@media screen and (min-width: 1025px) and (max-width:1200px)
{

}

  /* ipads and tablets */
  @media screen and (min-width: 481px) and (max-width:768px)
  {
    .top-header .col-md-3 {
        width: 36%;
    }

    .top-header .col-md-4 {
        display: none;
    }

    .top-header .col-md-1 {
        width: fit-content;
    }
     .facebook {
        margin-right: 0;
    }

    .instagram{
        margin-left: 60px;
    }

    .mahavirtitle{
        font-size: 30px;
        font-family: PublicaSans-Bold;
    }

    .logo_mahavir {
        height: 40px;
        width: 40px;
    }

    .header svg{
        height: 20px;
        width: 20px;
      }

      .Header .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }

  }

  /* extra large screens */
  @media screen and (min-width: 1201px) 
  {

  }
