#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #EDF2F4;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; */
  font-family:  'Roboto';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next{
  background-color: rgb(255 198 198 / 49%);
    border-radius: 10%;
    height: 40px;
    width: 40px;
    color: #ff3434;
}

.swiper-button-prev{
  background-color: rgb(255 198 198 / 49%);
    border-radius: 10%;
    height: 40px;
    width: 40px;
    color: #ff3434;
}

[data-quantity] button.sub {
  border-radius: 0%;
  background-color: #ff3434;
  left: -.1rem;
  color: white;
}
[data-quantity] button.add {
  border-radius: 0%;
  background-color: #ff3434;
  right: -.1rem;
  background-position-x: -2.2rem;
}

[data-quantity] input[type=number] {
  
  border-radius: 0;
  border: solid 1px #ff3434;
}
/* 

.card{
    height: fit-content;
    margin: 10px;
    padding: px;
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: left;
    font-size: 12px;
    border-radius: 10px;
    width: fit-content;
  
  

  
  
}
.card:hover {
  outline: solid 1px rgb(255, 88, 88);
  transition: outline 0.2s linear;
  margin: 10px;
  outline-width: 1px;
  

}

.card img {
  height: max-content;
}

.card p {
  word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; 
   max-height: 32px; 
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
  color: #777;
} 
.btn-flat {
  background-color: rgb(255, 88, 88);
  color: white;
}

.btn-l {
  padding: 0.5rem 3rem;
  font-size: 1rem;
} */

@media (max-width: 786px) {
  /* .change{
    display: none;
  }
  .card{
    display: inline-table;
    height: fit-content;
    margin: 10px;
    padding: 2px;
  }

  .btn-flat {
    background-color: rgb(255, 88, 88);
    color: white;
  }
  
  .btn-l {
    padding: 0.5rem 3rem;
    font-size: 1rem;
  } */

  /* .h6{
    font-size: 8px;
  } */
}
/* @media (max-width: 500px) {
  .card{
    height:fit-content; 
    margin:10px; 
    padding:2px;

  }

  .card img {
    height: max-content;
}
.card-title {
  font-size: larger;
}
} */

.category-image {
  /* background-size: cover;
  border-radius: 50%; */
  height: 50px;
  width: auto;
  
  
}








.section-separator {
  width: 100%;
  position: relative;
  margin: 20px 0;
  display: inline-block;
  text-indent: -9999px;
}

#comparebtn {
  font-weight: 800;
  border-color: #0b4268;
  position: fixed;
  background-color: #0b4268;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 17px;
  z-index: 9999;
  margin: 10px;
  bottom: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  
  
}

/* Footer */
.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:#4b4c4d;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

.social{
  margin-top: 0;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.wishlisticon {
  margin-top: 10px;
    margin-left: 10px;
  background-color: white;
  
}
.wishlisticon:hover {
  color: rgb(255, 88, 88);
}

.hometitle {
  text-transform: uppercase;
}

.orderfilter{
  font-weight:400;
  font-size: 18px;
  padding: 0 16px;
  border-top: 2px solid rgb(223 223 223)


}
.orderfiltertitle{
  font-weight:500;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 0
}

.orderfiltercheck .form-check {
  /* height: 12px; */
  /* width: 12px; */
  display: flex;
  margin-bottom: 8px;
  cursor: pointer;
  display: block;
  min-height: 2.0rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
}

.ordersbox{
  
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    transition: box-shadow .1s linear;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
    margin-top: 10px;
    margin-left: 2px;
   

    border-radius: 4px;
}

.header {
  z-index: 999;
  position:sticky;
}
