#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next{
  background-color: rgb(255 198 198 / 49%);
    border-radius: 10%;
    height: 40px;
    width: 40px;
    color: #ff3434;
}

.swiper-button-prev{
  background-color: rgb(255 198 198 / 49%);
    border-radius: 10%;
    height: 40px;
    width: 40px;
    color: #ff3434;
}


.card{
    height: 500px;
    margin: 10px;
    padding: px;
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: left;
    font-size: 12px;
    border-radius: 10px;
    width: fit-content;
  
  

  
  
}
.card:hover {
  outline: solid 1px rgb(255, 88, 88);
  transition: outline 0.2s linear;
  margin: 10px;
  outline-width: 1px;
  

}
.btn-flat {
  background-color: rgb(255, 88, 88);
  color: white;
}

.btn-l {
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

@media (max-width: 786px) {
  .change{
    display: none;
  }
  .card{
    height:150px; 
    margin:10px;
    padding:2px;
  }
}
@media (max-width: 500px) {
  .card{
    height:250px; 
    margin:10px; 
    padding:2px;
  }
}

.category-image {
  /* background-size: cover;
  border-radius: 50%; */
  height: 50px;
  width: auto;
  
  
}

.productdetailimg:hover {
  border: solid 5px rgba(0, 110, 255, 0.767);
  /* transition: outline 0.6s linear;
  margin: 0.5em; */
  outline-width: 8px;
}

/***** dropdown */

.dropdown-menu.show {
  display: block;
  height: fit-content;
  width: 500px;
  height: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant-caps: all-petite-caps;
  
}

.dropdown-toggle.nav-link{
  color: #000;
}

#drop{
  color: #000;
}

.section-separator {
  width: 100%;
  position: relative;
  margin: 20px 0;
  display: inline-block;
  text-indent: -9999px;
}