.footer_section{
    margin-top: 80px;
}

.payments p{
    font-size:16;
    margin-left:'20px';
    font-family:'Roboto';
}
.payments h4{
    font-size:20;
    font-family:'Roboto';
}
/* mobiles */
@media screen and (min-width: 320px) and (max-width:480px)
{
.footer_section{
    margin-top: 80px;
    padding: 4%;
}
}

/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
    .footer_section{
        margin-top: 80px;
    }
}

/* ipads and tablets */
@media screen and (min-width: 481px) and (max-width:768px)
{
    .footer_section{
        margin-top: 80px;
    }
}