element.style {
}
.collapse.in {
    display: block;
}
.collapse {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'RobotoRegular';
    text-decoration: none;
    border: 0;
    outline: 0;
    resize: none;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'RobotoRegular';
    text-decoration: none;
    outline: 0;
    resize: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: 'RobotoRegular',sans-serif;
    z-index: 0;
    overflow-x: hidden!important;
}
body {
    font-weight: 500;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}