.payment{
    width: fit-content;
    height: fit-content;
    margin:50px;
    padding:20px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

.payment_nextbtn{
    margin-top: 100px;
    width: 80px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    background:rgba(196, 24, 8, 0.979);
    color: white;
    cursor: pointer;
}

