


.categoryImage{
  z-index: 9999;
  height: 50px;
  border-radius: 40px;
  filter: invert(1);
}



.cat_nav{
  width:100%;
  margin-top: -60px;
    position: fixed;
  /* margin-bottom: 150px; */
}

.Category .dropbtn {
  
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.Category .dropdown {
  position: relative;
  display: inline-block;
  color: white;
    font-size: 15px;
}

.Category .dropdown-content {
  display: none;
  
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Category .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Category .nav-item.dropdown:hover .dropdown-menu {
  border-radius: 10px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-color: #d90429;
  border-top: 5px solid #d90429;
  display: flex;
  transform: translateX(-50%);
    left: 50%;
}



.Category .list-group-item{
  border: 0px;
    /* font-size: larger; */
    position: relative;
    display: flex;
    padding: 1px;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
}

.Category .list-group-item:hover{
  background-color:whitesmoke;
  

  
}

.Category .dropdown-menu.show {
  display: flex;
  border-radius: 10px;
  border-top: 5px solid #d90429;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-color: #d90429;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
  
}

.Category .navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
  font-weight: bolder;
}
.Category .navbar-light{
  background-color:whitesmoke;
}

.Category .navbar-nav .nav-link{
  color: white;
}

/* .catdropdown {
  font-family: Arial, Helvetica, sans-serif;
} */


@media screen and (min-width:320px) and (max-width:480px) {

}

/* ipads and tablets */
@media screen and (min-width: 481px) and (max-width:768px)
{
  .categoryImage{
    height: 40px;
  }
  .Category .dropdown {
      font-size: 12px;
  }
}

/* laplops and small screens */
@media screen and (min-width: 769px) and (max-width:1024px)
{
  .categoryImage{
    height: 40px;
  }
  .Category .dropdown {
      font-size: 12px;
  }

}

/* desktop and large screens */
@media screen and (min-width: 1025px) and (max-width:1200px)
{

}

 /* extra large screens */
 @media screen and (min-width: 1201px) 
 {

 }