
*{
    font-family: 'Verdana';
}
.filterproductsContainer{
    
    margin: 2%;
   /* background: antiquewhite; */
    background-image: linear-gradient(to bottom right,white,rgb(255, 175, 175), white);
}

.filterproductsRow{
    width: 100%;
    padding: 1%;
    border-radius: 2px;
    margin: 0px 10px 0px 0px;
    background: rgb(255, 255, 255);
    /* margin: 20px; */
    border-bottom:solid 1px #0b4268;
}

.filterproductsRow:hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.filterproductImage{
/* margin-top: 25%;  */
width: 100%;
/* height: 0%; */
   
}

.imagecol{
    display: grid;
    align-content: center;
}

.innerrow{
    margin-bottom: 2px;
    margin-top: 2px;
}

.filterproductBtn{
    margin-left: 20px;
    width: 80%;
    height:50px;
    font-size: 18px;
    font-weight: bold;
    color: #0b4268;
    border-color: #0b4268;
}

.filterproductBtn1{
    margin-left: 20px;
    width: 80%;
    height:50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0b4268;
    border-color: #0b4268;
    margin-bottom: 10px;
}

.filterproductBtn:hover{
    background-color: #0b4268;
    border-color: #0b4268;
   
}
.filterproductBtn1:hover{
    background-color: #0b4268;
    border-color: #0b4268;
}

.filtercol{
    background-color: white;
    /* border-right: solid 1px #0b4268; */
    /* width: 95%; */
    /* margin-left: 10px; */
    padding-top:16px;
}

.lastcol{
    padding: 1%;
    /* border-left: solid 1px #0b4268; */
}

.checkboxx .form-check-input[type=checkbox] {
    border-radius: 0;
    border:solid 1px #0b4268;
}

.form-check-input:checked[type=radio]{
    width: 17px;
    height: 17px;
    background-color: #0b4268;
    border-color: #0b4268;
    margin-top: 6px;
    border-radius: 0;
}

.checkboxx .form-check-input:checked {
    background-color: #0b4268;
    /* border-color: #0d6efd; */
}

.filtercol label{
    font-size: 18px;
}
.filterproductsRow .nav-link{
    color: black;
    font-size: 20px;
}

.products{
    margin-top: 14px;
    font-size: 16px;
    font-family:'Roboto';
    line-height: 16px;
    letter-spacing: 0.01em;
    font-weight: 500;
}

.filtercol .accordion-flush .accordion-item .accordion-button {
    font-size: 20px;
    font-weight: 600;
}

.filtercol .accordion-button:not(.collapsed) {
    color: #0b4268;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}


 .form-check-input[type=checkbox] {
    border-radius: 0;
}

.filtercol .MuiSlider-rail {
    margin-bottom: 0px;
    width: 100%;
    height: 5px;
    display: block;
    opacity: 0.38;
    position: absolute;
    border-radius: 1px;
    background-color: currentColor;
}

.filtercol .MuiSlider-thumb {
    width: 15px;
    height: 15px;
    display: flex;
    outline: 0;
    position: absolute;
    box-sizing: border-box;
    margin-top: -5px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    margin-left: -6px;
    border-radius: 0;
    justify-content: center;
    background-color: currentColor;
}

.filtercol .MuiSlider-track {
    height: 5px;
    display: block;
    position: absolute;
    border-radius: 1px;
    background-color: currentColor;
}

.filtercol .PrivateValueLabel-label-5 {
    font-size: small;
    margin-bottom: 0;
    color: #fff;
    transform: scaleY(1.5);
}

.filtercol .PrivateValueLabel-circle-4 {
    margin-bottom: 19px;
    width: 47px;
    height: 32px;
    display: flex;
    transform: translateY(10px);
    align-items: center;
    border-radius: 0;
    justify-content: center;
    background-color: currentColor;
}

.filtercol .PrivateValueLabel-circle-9 {
    width: 47px;
    height: 32px;
    display: flex;
    transform: translateY(10px);
    align-items: center;
    border-radius: 0;
    justify-content: center;
    background-color: currentColor;
}

.filtercol .PrivateValueLabel-label-10 {
    font-size: 14px;
    color: #fff;
    transform: translateY(10px);
}

.offcavasfilters{
    display: none; 
}

.multipleproduct_title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.01em;

color: #212121;
}

.multipleproduct_highlights{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
letter-spacing: 0.01em;

color: rgba(33, 33, 33, 0.7);
}
@media only screen and (max-width: 1024px){
    .filterproductsRow{
        width: 100%;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
        background: rgb(255, 255, 255);
       
    }
    .filterproductsContainer{
        width: 100%;
       /* background: antiquewhite; */
        background-image: linear-gradient(to bottom right,white,rgb(255, 175, 175), white);
    }
    .innerrow{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .innerrow_wishlist{
        margin-top: -860px;
        margin-left: 315px;
    }
   

}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.scrolltopbtn {
  
    height: 50px;
    border-color: #ED1C24;
    top: 94%;
    position: fixed;
    background-color: #ED1C24;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 17px;
    z-index: 9999;
    /* margin: 10px; */
    /* top: 0; */
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0%;
    /* left: 50%; */
    /* margin-top: 7%;*/
    
    
  
}

.scrolltopbtn:hover{
    border-color: #ED1C24;
    background-color: #ED1C24;
}

.mainpage {
    margin: 7% 0% 0% 0%;
}

.check{
    
        font-weight: 500;
        font-size: 175%;
        margin-left:0px
}
.filternav{
    width: 100%;
}
.btnrow{
    display: none;
}
.ratings i{font-size: 16px;color: red}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;
display: inline-block}
.spec-1{color: #938787;font-size: 15px}
h5{font-weight: 400}
.para{font-size: 16px}

@media screen and (min-width:320px) and (max-width:480px){
/* mobile  */
    .filtercol{
        display: none;
    }
    .filterproductsRow{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        border: solid 2px #0b4268;
    }
    .products{
        font-size: medium;
    }
    .filterproductsRow .nav-link{
        padding-left: 0%;
    }
    
    .filterproductImage {
        height: 90%;
        width: 70%;
    }
    .lastcol{
        display: inline-grid;
        justify-content: center;
        border-left: none;
    }
    .innerrow{
        margin-top: 0;
        margin-bottom: 0;
    }

    .check{
        display: none;
        font-weight: 500;
        font-size: 135%;
        margin-left:0px
    }
    .imagecol{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filterproductBtn1{
        margin-left: 0;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0b4268;
    border-color: #0b4268;
    margin-bottom: 0px;
    }
    .filterproductBtn {
        margin-left: 0px;
        width: 100%;
        height: 50px;
        font-size: 14px;
        font-weight: bold;
        color: #0b4268;
        border-color: #0b4268;
    }
    #comparebtn{
        display: none;
    }

    .offcavasfilters{
        display: block;
        margin-top: 10px;
    }
    .multipleproducts_cat_name{
        display: none;
    }
    .filternav {
        margin-top: 84px;
        position: fixed;
        width: 100%;
        background-color: white;
    }
   
    .mainpage {
        margin-top: 70px;
    }
    .btnrow{
        display: inline-flex;
    }
    .btnrow2{
        display: none;
    }

    .top-header{
        display: none;
    }

    .products{
        display: none;
    }

}