@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');



.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*-------------------------------------- Header Css------------------------------------------------------------------- */
.logo_mahavir{
  border-radius: 100%;
  margin-top: -10px;
  height: 60px;
  width: 60px; 
  
}

/*-------------------------------------- CategoriesToDisplay Css------------------------------------------------------------------- */

.category{
  display: inline;
}

.category-image{
  width:30px;
  height:30px;
  border-radius: 100%; 
}



/* ::-webkit-scrollbar {
  display: none;
}  */
/*-----------------------------------------------------For card hovering----------------------------------------------*/
/* .card {
  background: #fff;
  width: 700px;
  height: 0px;
  margin: 50;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 100ms;
} */
/* 
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   /* max-height: 32px; /* fallback */
   /* -webkit-line-clamp: 2; /* number of lines to show */
   /* -webkit-box-orient: vertical;
  color: #777;
}  */

/* .card h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.card-body {
  padding: 1.2em;
}  */


/*-------------login form-------------*/
/* .formbody{
  margin-left: 650px;
  margin-top: 50px;
  height: fit-content;
 width: fit-content;
} */

/* Product */

.Cart{
  /* margin: 20px; */
  margin-top: 100px;
}

.complaintone {
  
}

.title {
  font-weight: 100;
}

.grid-container {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr ;

}

#formm
{
  padding: 10px;
    opacity: 1;
    visiblity: visible;
    position: absolute;
    top: 30%;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255 255 255 / 30%);
    width: fit-content;
    color: black;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 10px 10px 15px -6px rgb(0 0 0 / 25%);
    transition: opacity .3s ease-in .3s, visibility .3s ease-in .3s;
    transform: scale(.9);
    font-size: x-large;
}

.col-md-4 {
  margin-top: 10px;
  flex: 0 0 auto;
  width: 33.33333333%;
}

@media (min-width:320px) and (max-width: 480px) {
  .card {
    width: 400px;
  }
  .wishlisticon{
    margin-top: 3%;
    margin-left: -70%;
  }
 

}