body {
  
}

code {
  
}

@font-face {
  font-family: "Olive Compact MN Regular";
  src: local("Olive Compact MN Regular"),
    url("./assets/fonts/Olive Compact MN Regular.ttf") format("truetype");
  font-weight: normal;
}
