.ComparisonHeader{
    /* margin-top: 80px; */
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    border-top: solid 1px grey;
}

.CompareHeader {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    border-top: solid 1px grey;
}

.cross{
    /* position: absolute; */
    /* z-index: 2; */
    /* top: 0; */
    margin-top: 45px;
    align-items: flex-end;
    
    /* right: 15px; */
    /* height: 34px;
    width: 34px; */
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 50%;
    /* font-size: 15px; */
    line-height: 20px;
    color: red;
    text-align: center;
    cursor: pointer;
}
.choosebrand{
    height: fit-content;
    width: fit-content;
    
}

.choosebrand a{
    font-size: 16px;
    text-decoration: none;
    /* justify-content: center; */
    padding: 0;
    /* border: solid 1px gray; */
    color: black;
    height: 40px;
    /* align-content: center; */
    /* padding-left: 10px; */
}

.choosebrand .dropdown-menu.show {
    width: -webkit-fill-available;
    display: block;
    font-size: 16px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.choosebrand .dropdown-menu:hover{
    background-color: white;
    color: blue;
}

.choosebrand .nav-item{
    cursor: pointer;

}

.choosesubcat a{
    font-size: 16px;
    text-decoration: none;
    /* justify-content: center; */
    padding: 0;
    /* border: solid 1px gray; */
    color: black;
    height: 40px;
    /* align-content: center; */
    /* padding-left: 10px; */
}

.choosesubcat .dropdown-menu.show {
    /* width: 300px;
    height: 1000px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: block;
    font-size: 16px;
    border: solid 1px black;
    box-shadow: 2px gray;
    color: black; */

    width: fit-content;
    max-height: 1000px;
    font-size: 16px;
    border: solid 1px black;
    box-shadow: 2px gray;
    color: red;
    margin: 0%;
    padding-left: 10px;
    overflow: auto;
    
}

.choosesubcat:hover{
    background-color: white;
    color: darkblue;
}

.choosesubcat .nav-item{
    cursor: pointer;

}

.star{
    margin-bottom: 0;
    background-color: #00ce00;
    width: -moz-fit-content;
    width: 50%;
    height: -moz-fit-content;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    font-size: 20px;
    padding-top: 8px;
    align-content: center;
    margin-left: 10px;
}

.colll{
    padding: 1%;
    /* border-top: solid 1px grey; */
    border-right: solid 1px grey;
}

.buynow{
    background-color: rgba(49, 19, 148, 0.764);
    color: white;
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 5%;
    font-size: 20px;
}